
codigofacilito/codigofacilito/__pycache__/

refugio/apps/adopcion/__pycache__/

refugio/apps/adopcion/migrations/__pycache__/

refugio/refugio/__pycache__/

refugio/apps/mascota/migrations/__pycache__/

refugio/apps/mascota/__pycache__/

refugio/apps/__pycache__/

refugio/apps/adopcion/migrations/

refugio/apps/mascota/migrations/

refugio/apps/usuario/migrations/
