{% extends 'base/base.html' %}

{% block header %}
<header>
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-3">Mascotas</h1>
        <p class="lead">Lista de mascotas</p>
        <hr class="my-2">
        <p>Estas son todas las mascotas que tenemos</p>
    </div>
</header>
{% endblock header %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-10">


        {% if object_list %}

        <table class="table table-hover table-inverse table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Animal</th>
                    <th>Raza</th>
                    <th>Sexo</th>
                    <th>Edad</th>
                    <th>Fecha de rescate</th>
                    <th>Adoptante</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for mascota in object_list %}
                <tr>
                    <td>{{mascota.nombre}}</td>
                    <td> Próximamente </td>
                    <td> Próximamente </td>
                    <td>{{mascota.sexo}}</td>
                    <td>{{mascota.edad_aproximada}}</td>
                    <td>{{mascota.fecha_rescate}}</td>
                    <td>{{mascota.persona.nombre}} {{mascota.persona.apellidos}}</td>
                    <td class="text-center">
                        <a href="{% url 'mascota:mascota_editar' mascota.id %}"><i class="fas fa-pencil-alt text-warning"></i></a>
                        <a href="{% url 'mascota:mascota_eliminar' mascota.id %}"><i class="fas fa-times text-danger"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}

        <h4>Aún no tenemos ningún registro</h4>

        {% endif %}
    </div>
</div>

{% endblock %}